.main-section-quote {
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: #fff;
   display: flex;
  flex-direction: column; /* stack items vertically */
  justify-content: center; /* vertical centering */
  align-items: center; /
}
.main-section-quote button {
  padding: clamp(8px, 2vw, 14px) clamp(14px, 4vw, 28px);
  font-size: clamp(12px, 3.5vw, 16px);
  font-weight: 600;

  color: #fff;
  background: linear-gradient(135deg, #ff3b3b, #3dd600);

  border: none;
  border-radius: clamp(18px, 5vw, 30px);

  cursor: pointer;
  margin-top: 20px;

  letter-spacing: 1px;
  text-transform: uppercase;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#random-quote-title{
margin: 30vh 0 10vh 0;
font-size: 5vh;
}

#random-quote-text{
font-size: 3vh;
width: 60vw;
margin: 0 auto;
}
#random-quote-author{
font-size: 2vh;
margin: 1vh 0 10vh 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
font-style: italic;
}