html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* kills horizontal scroll */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.main-section {
  height: 100vh;
  width: 100vw;

  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./images/bgimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column; /* stack items vertically */
  justify-content: center; /* vertical centering */
  align-items: center; /* horizontal centering */

  text-align: center;
}

.main-section h1 {
  font-size: 34px;
  color: white;
}

.main-section p {
  font-family: "Times New Roman", Times, serif;
}
.main-section button {
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 600;

  color: #fff;
  background: linear-gradient(135deg, #ff3b3b, #3dd600);

  border: none;
  border-radius: 30px;

  cursor: pointer;
  margin-top: 20px;

  letter-spacing: 1px;
  text-transform: uppercase;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
