:root {
  --width-scale: min(700px, 80vw, 80vh);
  --height-scale: calc(var(--width-scale) * 0.714);
  --game-title-size: min(calc(var(--height-scale) * 0.1), 2em);
  --title-margin-bottom: calc(var(--height-scale) * 0.25);
}

#craps-game {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/craps.webp");
  background-position: center top;
  color: white;
  padding: 1px;
}

.craps-game-title {
  font-size: var(--game-title-size);
  text-align: center;
  margin-top: calc(
    calc(
        100vh-var(--game-title-size)-var(--title-margin-bottom)-var(
            --height-scale
          )
      ) /
      2
  );
  margin-bottom: var(--title-margin-bottom);
  padding-top: 30px;
}

.craps-game-container {
  width: var(--width-scale);
  height: var(--height-scale);
  /* width: min(700px, 800vw);
  height: min(500px, 57vw); */
  border: solid white 2px;
  margin: 0 auto;
  background-image: url("../images/craspTable.png");
  background-size: cover;
  background-position: center top;
}
#craps-registration-pane {
  margin-top: 55px;
  text-align: center;
}
.craps-registration-input {
  background: none;
  border: none;
  border-bottom: solid white 1px;
  margin-top: 25px;
  color: white;
  text-align: center;
}

.craps-registration-input:focus {
  outline: none;
}

.craps-registration-continue {
  margin-top: 25px;
}

#craps-main-section {
  display: none;
}

.craps-main-section-stats {
  text-align: center;
  margin-top: 70px;
}

#craps-stats-money-container {
  font-size: 30px;
  margin: 25px 0 5px 0;
}
